@use '../abstracts' as *;

.product-page {
  padding-top: 7rem;

  .wrapper {
    position: relative;

    .status {
      position: absolute;
      display: flex;
      align-items: center;
      left: 1rem;
      top: 1rem;
      background-color: var(--background);
      color: var(--foreground);
      border-radius: $radius-350;
      padding: 0.6rem 1.3rem;
      font-size: $fs-200;
      user-select: none;
      z-index: 20;

      p {
        margin-left: 0.2rem;
      }
    }
  }

  .radio_input {
    display: none;
  }

  .d-flex {
    @include flex(stretch, flex-start);
    flex-direction: column;
  }

  @include large {
    .d-grid {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 4rem;
    }
  }

  //   Splide controls
  .splide__slide {
    img {
      border-radius: $radius-sm;
    }
  }

  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none;
  }

  .thumbnail {
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
  }

  .main-img {
    img {
      width: 500px;
      aspect-ratio: 1/0.9;
      object-fit: cover;

      @include landscape {
        width: 100%;
      }
    }
  }

  // buttons
  @include large {
    .splide__arrows {
      position: absolute;
      bottom: 3rem;
      right: 1rem;
    }

    .splide__arrow {
      margin-left: 0.5rem;
      border: none;
      background-color: var(--black);
      padding: 0.5rem;
      opacity: 1;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      cursor: pointer;
      font-size: $fs-200;
      transition: background-color 0.3s ease-in-out;

      svg {
        fill: var(--white);
      }

      &:hover {
        background-color: var(--primary);
      }
    }

    .splide__arrow--prev {
      left: -7rem;
    }

    .splide__arrow:disabled {
      opacity: 0.7;
    }
  }

  .img {
    margin-bottom: 4rem;
  }

  .content {
    .title {
      h2 {
        font-size: $fs-650;
        line-height: 1.3;
      }

      .sub-name {
        font-weight: 500;
        text-transform: capitalize;
        font-size: $fs-300;
      }

      .price {
        font-weight: 500;
        padding-top: 1rem;
        font-size: $fs-400;
      }

      @include large {
        margin-bottom: 3rem;
      }
    }

    .details {
      .shoe-sizes {
        h4 {
          font-weight: 500;
          font-size: $fs-300 + 0.1rem;
          margin-bottom: 0.5rem;
        }

        .shoe {
          @include grid(repeat(2, 1fr), 0.5rem);

          &.error {
            border: 1.5px solid red;
            border-radius: $radius-sm;
          }
        }

        label {
          border: 1.5px solid var(--border);
          padding: 0.7rem 1.5rem;
          border-radius: $radius-sm;
          text-align: center;
          cursor: pointer;
          user-select: none;
          width: 100%;

          &:hover {
            border-color: var(--foreground);
          }
        }

        .line {
          border-color: var(--foreground);
        }
      }

      .buttons {
        text-align: center;
        margin-top: 3rem;
      }

      .btn-filled,
      .btn-outline {
        padding-block: 1rem;
        width: 100%;
      }

      .btn-filled {
        margin-bottom: 1rem;
      }

      .btn-outline {
        border-radius: $radius-350;

        &:hover {
          background-color: transparent;
          border-color: var(--border);
        }
      }

      .description-highlight {
        padding-top: 2rem;
      }

      .full-description {
        margin-top: 2rem;

        .description-btn {
          color: var(--foreground);
          font-weight: 500;
          font-size: $fs-300;
          text-decoration: underline;
          transition: color 0.2s ease-out;

          &:hover {
            color: var(--muted-foreground);
          }
        }
      }
    }
  }

  .desktop-title {
    display: none;

    @include large {
      display: block;
    }
  }

  @include large {
    .mobile-title {
      display: none;
    }
  }

  // error
  .size-error {
    padding-top: 0.7rem;
    font-weight: 600;
    color: var(--destructive);
  }

  .showError {
    color: var(--destructive);
  }

  .lineError {
    border: 1.5px solid var(--destructive);
    border-radius: $radius-sm;
  }
}
