@use '../../abstracts/' as *;

.tables {
  .bg-img {
    position: relative;
    min-height: 60vh;
    background: var(--clr-neutral-300) url(../assets/img/table7.webp);
    @include image-property(initial);
    width: 100%;
  }
}
