@use '../abstracts' as *;

.feature {
  .mb {
    margin-bottom: 2rem;

    @include medium {
      margin-bottom: 0;
    }
  }

  @include medium {
    &-grid {
      @include grid(repeat(2, 1fr), 1rem);
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
  }

  img {
    border-radius: $radius-sm;
  }

  .description {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    z-index: 20;
    text-transform: capitalize;

    @include small {
      font-size: 1rem;
      left: 1rem;
      bottom: 4rem;
    }
  }

  button {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    font-weight: 500;
    border-radius: $radius-350;

    @include small {
      padding: 0.4rem 1.2rem;
      font-size: $fs-300;
      left: 1rem;
    }
  }
}
