@use '../abstracts' as *;

.newsletter {
  background: var(--clr-neutral-100) url(../assets/img/newsletter.webp);
  object-fit: cover;
  margin-top: 5rem;

  @include small {
    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .content {
    max-width: 37.5rem;
    margin-inline: auto;
    padding: 3rem 2rem;
  }

  form {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    input {
      height: 2.875rem;
      width: 100%;
      padding-left: 0.5rem;
      border-radius: $radius-400;
      border: 1.5px solid var(--clr-neutral-400);
    }

    button {
      width: 100%;
    }
  }
}
