.breadcrumbs {
  display: inline-block;
  margin-bottom: 1rem;

  .home-icon {
    margin-right: 0.3rem;
    color: var(--clr-neutral-400);
  }

  &-line {
    margin-bottom: 5rem;
  }

  .home,
  .category {
    color: var(--clr-neutral-900);
  }

  .category,
  .crumb {
    text-transform: capitalize;
  }

  .crumb {
    color: #51545f;
  }
}

.separator {
  margin: 0 0.5rem;
}
