@use '../abstracts' as *;

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  text-transform: capitalize;
}

.btn-filled {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  padding: 0.6rem 1.8rem;
  font-size: $fs-300;
  border-radius: $radius-sm;
}

.btn-outline {
  background-color: transparent;
  border: 1.5px solid var(--clr-neutral-900);
  color: var(--clr-neutral-900);
  padding: 0.6rem 1.8rem;
  font-size: $fs-300;
  border-radius: $radius-sm;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-primary-400);
    border-color: transparent;
    color: var(--clr-neutral-100);
  }
}
