@use '../abstracts' as *;

.hero {
  text-align: center;
  position: relative;
  height: 100vh;

  @include flex(center, center);

  @include large {
    align-items: flex-start;
  }

  .caption {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.14rem;

    @include large {
      font-size: 3rem;
      bottom: 4.5rem;
    }
  }

  &-container {
    position: relative;
    padding-left: 1rem;
  }

  .outline {
    h1 {
      font-size: 2.5rem;
      background-color: var(--outline);
      color: var(--background);
      background-clip: text;
      -webkit-text-stroke: 1.8px;
      -webkit-text-stroke-color: transparent;
      -webkit-background-clip: text;
      letter-spacing: 0.3375rem;
      line-height: 1;

      @include large {
        font-size: 8rem;
      }
    }
  }

  .main-text {
    h1 {
      background: linear-gradient(
        105deg,
        #4280cf 0%,
        #3975c0 8.12%,
        #0c315f 45.1%,
        #0a2444 58.65%,
        #03234b 81.56%,
        #4280cf 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.8rem;
      line-height: 1;
      font-weight: 900;
      transform: translate(-0.6rem, -1.8rem);
      letter-spacing: -0.2rem;

      @include large {
        font-size: 10rem;
        transform: translate(-0.6rem, -6rem);
      }
    }
  }

  // Hero image
  .hero-img {
    img {
      position: absolute;
      left: 0;
      top: 0;

      @include large {
        left: -1rem;
        top: 1rem;
      }
    }
  }
}

// Figcaption
.hero-content {
  text-align: center;
  max-width: 500px;
  margin-inline: auto;

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.14rem;
    line-height: 2.1rem;
    margin-bottom: 1.5rem;

    @include large {
      font-size: 4rem;
      line-height: 0.8;
    }
  }

  .cta {
    border-radius: $radius-350;
    margin-top: 1.5rem;
  }
}
