@use '../abstracts' as *;

.modal {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 800;
    transition: opacity 0.3s ease-in-out;

    &.show {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &-container {
    position: relative;
    height: 80%;
    width: 460px;
    margin: 0 1rem;
    overflow-y: auto;
    max-width: 900px;
    padding: 1.2rem;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: $radius-sm;
    z-index: 900;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.open {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    @include landscape {
      width: 100%;
    }

    @include medium {
      height: unset;
    }

    .modal-flex {
      @include flex(center, flex-start);
      margin-bottom: 4rem;
    }

    .close-icon {
      cursor: pointer;
      font-size: $fs-700;
      color: var(--card-foreground);
      position: absolute;
      right: 1rem;
      top: 1rem;

      @include small {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    img {
      width: 70px;
      margin-right: 0.8rem;
      border-radius: $radius-sm;
    }

    .description {
      p {
        margin-bottom: 2rem;
      }

      li {
        list-style: square;
        margin-left: 0;
      }
    }
  }
}
