@use '../abstracts' as *;

.toggle-menu {
  cursor: pointer;
  font-size: $fs-600;

  @include large {
    display: none;
  }

  .close-menu {
    z-index: 300;
  }
}

//NAV MENU
.nav {
  @include flex(center, flex-end);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 200;
  transform: translateX(200.25rem);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @include large {
    position: relative;
    transform: translateX(0);
    height: 100%;
    justify-content: flex-start;
    overflow: visible;
  }

  // show menu
  &.showMenu {
    transform: translateX(0);
  }
}

.user-avatar {
  margin-bottom: 1rem;
  img {
    border-radius: $radius-400;
    height: 50px;
    width: 50px;
    margin-bottom: 0.5rem;
  }

  @include large {
    display: none;
  }
}

.menu {
  background-color: var(--background);
  border-left: 1px solid var(--border);
  height: 100vh;
  width: 80%;
  padding: 4rem 2rem 1.625rem;

  @include large {
    height: 100%;
    width: 100%;
    @include flex(center, center);
    padding-block: 0;
    padding-inline: 0;
    background-color: transparent;
    border-color: transparent;
  }

  @include small {
    width: 100%;
    overflow-y: scroll;
    padding-left: 1.5rem;
  }

  li {
    text-transform: capitalize;
    margin-bottom: 0.9rem;

    @include large {
      margin-bottom: 0;
      padding-inline: 1.2rem;
    }
  }

  .favorite {
    .heart {
      position: relative;
      top: 0.4rem;
      margin-right: 0.3rem;
    }

    @include large {
      display: none;
    }
  }

  a {
    color: var(--foreground);
    font-size: $fs-500;
    transition: color 0.2s ease-in-out;
    font-weight: 500;
    transform: color 0.3s ease-in-out;

    @include large {
      font-size: $fs-300;
    }

    @include huge {
      font-size: $fs-450;
    }

    &:hover {
      color: var(--primary);
    }
  }

  .active {
    color: var(--primary);
  }

  .mobile-sign-in {
    p {
      font-size: $fs-400;
      max-width: 300px;
    }

    button {
      margin-block-start: 1.5rem;
      padding: 0.5rem 1.5rem;
      border-radius: $radius-350;
      margin-inline-end: 1rem;
    }
    @include large {
      display: none;
    }
  }
}
