:root {
  --clr-primary-400: #dc143c;
  --clr-primary-100: #ea748b;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f0f0f0;
  --clr-neutral-300: #fcfcfc;
  --clr-neutral-350: #333;
  --clr-neutral-400: #1c1c1c;
  --clr-neutral-900: #000;
}
