@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700;800;900&display=swap');

//FONT FAMILY
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// FONT SIZES
$fs-100: 0.75rem;
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-450: 1.2rem;
$fs-600: 1.5rem;
$fs-650: 1.6rem;
$fs-700: 2rem;
$fs-800: 2.5rem;
