@use '../abstracts' as *;

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: $primary-font;
  line-height: 1.6;
  font-size: 1rem;
  text-size-adjust: 100%;

  @include huge {
    font-size: 1.1rem;
  }
}

.hide-scroll {
  overflow-y: hidden;
}

.container {
  padding: 0rem 1rem;

  @include landscape {
    width: 576px;
    margin: 0 auto;
  }

  @include medium {
    width: 760px;
  }

  @include large {
    width: 960px;
  }

  @include extra-large {
    width: 1100px;
  }

  @include huge {
    width: 1440px;
  }
}
